@model EShopCoffee.Models.ViewModels.ForgotPasswordViewModel

@{
    ViewBag.Title = "ForgotPassword";
}


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="container">
        <div class="row" style="text-align: right;">
            <div class="col-lg-12">
                <div class="box">
                    <h3 class="text-center color_defult">بازیابی کلمه عبور</h3>
                    <hr/>
                    <div class="col-lg-12 text-center">
                        <div dir="rtl">
                            <img class="img-thumbnail rounded-circle bg-light" width="150px" max-width="150px" src="~/Content/SiteFile/img/LogoEN.png" alt="قهوه دوپیو">
                            <p>سلام ! ایمیل خود را وارد کنید.</p>
                        </div>
                    </div>

                    <hr>
                    <form>
                        <div>
                            <div class="form-group">
                                @Html.LabelFor(model => model.User_Email, htmlAttributes: new { @class = "text-dark label" })
                                @Html.EditorFor(model => model.User_Email, new { htmlAttributes = new { @class = "form-control" } })
                                <p class="text-center">
                                    @Html.ValidationMessageFor(model => model.User_Email, "", new { @class = "text-danger" })
                                </p>
                            </div>
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">
                                <i class="fa fa-envelope"></i>  ارسال ایمیل
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
}