@model IEnumerable<EShopCoffee.Models.ViewModels.ShopCartItemViewModel>
@{
    var totalPrice = ViewBag.TotalPrice;
}
@if (Model.Any())
{
    <li>
        <h4 class="text-center">سبد خرید</h4>
        <div class="table-responsive">
            <table class="table">
                <thead>

                <tr>
                    <th class="text-center" colspan="2">محصول</th>
                    <th>تعداد</th>
                </tr>
                </thead>

                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <img style="width: 50px;" src="~/Images/ProductImages/Thumbnail/@item.ProductImage" alt="@item.ProductTitle">
                        </td>
                        <td>
                            <a href="/ShowProduct/@item.ProductId">@item.ProductTitle</a>
                        </td>
                        <td>
                            @item.Count
                        </td>
                    </tr>
                }
                </tbody>
            </table>

        </div>
    </li>
}
else
{
    <h4 class="text-center">سبد خرید</h4>
    <hr/>
    <div class="alert alert-danger text-center">
        سبد خرید خالی است
    </div>
}