<div id="notfound">
    <div class="notfound-bg"></div>
    <div class="notfound">
        <div class="notfound-404">
            <h1>404</h1>
        </div>
        <h2>Oops! Page Not Found</h2>
        <div class="notfound-social">
            <a class="social-item" href="#"><i class="fa fa-telegram fa-2x"></i></a>
            <a class="social-item" href="#"><i class="fa fa-instagram fa-2x"></i></a>
            <a class="social-item" href="#"><i class="fa fa-phone fa-2x"></i></a>
        </div>
        <a class="home-page" href="/">باز گشت به صفحه اصلی</a>
    </div>
</div>