################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/EShopCoffee/.vs/EShopCoffee/FileContentIndex/3443d30d-1cf7-4653-8b9f-67c926414b18.vsidx
*.vsidx
