
<div id="customer-orders" class="container text-center text-center">
    <div class="box">
        <h1 class="color_defult">فروشگاه دوپیو</h1>
        <hr/>
        <img src="~/Content/SiteFile/img/LogoEN.png" alt="قهوه دوپیو" class="image_logo_size mt-4 img-thumbnail rounded-circle">

        <h3 class="text-dark mt-3">پنل ادمین</h3>
      
    </div>
</div>