<div class="image_div pt-3 pb-3 m-5" style="height: 500px">
    <img src="~/Content/Asset/Images/Logo/Logo.png" alt="قهوه دوپیو" class="image_logo_size mt-4">
    <h1 class="wellcom_tag text-light font-weight-bolder welcome_h1">فروشگاه <span style="color: #28855E;text-shadow: 1px 1px 1px rgb(256, 256, 256) !important; ">دوپیو</span></h1>
</div>
