<div class="pt-3 pb-3 m-5 text-center border-admin bg-Logo-color">
    <img src="~/Content/SiteFile/img/LogoEN.png" alt="قهوه دوپیو" class="image_logo_size mt-4 img-thumbnail rounded-circle">
    <h1 class="mt-3 text-light">فروشگاه دوپیو</h1>
    <h3 class="text-light mt-3">پنل ادمین</h3>
</div>
