
<div class="image_div mt-5">
    <img src="~/Content/Asset/Images/Logo/Logo.png" alt="قهوه دوپیو" class="image_logo_size">
    <h3 class="wellcom_tag font-weight-bolder welcome_h1">پنل مدیریت دوپیو</h3>
</div>