<div id="content">
    <div class="container">
        <div class="row">
            <div class="col-lg-3">
                <div class="card sidebar-menu mb-4">
                    <div class="card-header">
                        <h3 class="h4 card-title text-center">صفحه</h3>
                    </div>
                    <div class="card-body">
                        <ul class="nav nav-pills flex-column textalign">
                            <li><a href="/" class="nav-link">صفحه اصلی</a></li>
                            <li><a href="/Home/Contact" class="nav-link">درباره ما</a></li>
                        </ul>
                    </div>
                </div>
                <div class="banner"><a href="#"><img src="~/Content/SiteFile/img/logo.png" alt="sales 2014" class="img-fluid"></a></div>
            </div>
            <div class="col-lg-9">
                <div id="contact" class="box">
                    <h1>فروشگاه دوپیو</h1>
                    <div class="text-center">
                        <img style="width:150px;" class="img-thumbnail rounded-circle mt-2 mb-2" src="~/Content/SiteFile/img/LogoEN.png" alt="فروشگاه دوپیو" />
                    </div>
                    <hr>
                    <div class=" text-center">
                        <p> توضیحات</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>