
<footer class="Bg_Color " dir="rtl">
    <div class="container py-5">
        <div class="row py-3">
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">تماس با مشتریان</h6>
                <hr class="Hr_Footer">
                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                        <a href="../Shared/Abut_Us.html" class="text-color text-decoration-none">درباره ما</a>
                    </li>
                </ul>
            </div>

            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">راهنما</h6>
                <hr class="Hr_Footer">
                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                        <a href="../Shared/Abut_Us.html" class="text-color text-decoration-none">نحوه پرداخت</a>
                    </li>
                    <li class="mb-2">
                        <a href="../Shared/Abut_Us.html" class="text-color text-decoration-none">
                            بازگشت محصول
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="../Shared/Abut_Us.html" class="text-color text-decoration-none">
                            تاریخچه
                            سفارشات
                        </a>
                    </li>
                    <li class="mb-2">
                        <a href="../Shared/Abut_Us.html" class="text-color text-decoration-none">تحویل کالا</a>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0">
                <h6 class="text-uppercase font-weight-bold mb-4">آدرس</h6>
                <hr class="Hr_Footer">
                <ul class="list-unstyled mb-0">
                    <li class="mb-2">
                        <p class="text-color">قزوین خیابان پادگان قبل از گوچه بهمن</p>
                    </li>
                    <li class="mb-2">
                        <p class="text-color"> کد پستی :</p>
                    </li>
                    <li class="mb-2">
                        <p class="text-color">شماره تماس : </p>
                    </li>
                    <li class="mb-2">
                        <p class="text-color">شماره همراه : </p>
                    </li>
                </ul>
            </div>
            <div class="col-lg-2 col-md-6 mb-4 mb-lg-0 ml-5  ">
                <img class="img_logo_namead" src="~/Content/Asset/Images/Logo/head636473112731542337.png" alt="نماد الکترونیکی">
            </div>
        </div>
        <div class="text-center">
            <div class="text-center">
                <ul class="list-inline mt-4">
                    <li class="list-inline-item text-color">
                        <a href="#" target="_blank" title="twitter">
                            <i class="fa  fa-2x fa-twitter text-color"></i>
                        </a>
                    </li>
                    <li class="list-inline-item ">
                        <a href="#" target="_blank" title="facebook">
                            <i class="fa fa-2x fa-facebook-f text-color"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_blank" title="instagram">
                            <i class="fa fa-2x fa-instagram text-color"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_blank" title="pinterest">
                            <i class="fa fa-2x fa-youtube text-color"></i>
                        </a>
                    </li>
                    <li class="list-inline-item">
                        <a href="#" target="_blank" title="vimeo">
                            <i class="fa fa-2x fa-google text-color"></i>
                        </a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="bg-light py-2 text-dark">
        <div class="container text-center">
            <p class="text-dark mb-0 py-2">
                استفاده از مطالب
                <a class="d-inline a_color font-weight-bolder" href="../Shared/Index.html">فروشگاه دوپیو</a>
                با ذکر منبع و مقاصد غیر تجاری بلامانع است
            </p>

        </div>
    </div>

</footer>