<nav id="Nav-Bar" class="navbar navbar-expand-lg navbar-light Bg-backgrund m-5">
    <a class="navbar-brand" href="#">
        <img src="~/Content/Asset/Images/Logo/Logo.ico" class="me-2 img-thumbnail" style="border-radius: 50%;" height="30"
             alt="Doppio" loading="lazy" />
        <small>Doppio</small>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="#">خانه</a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle-split" id="Dropdown_Products" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    محصولات
                    <span>
                        <i class="fa fa-caret-down li-drop_icon"></i>
                    </span>
                </a>
                <div class="dropdown-menu Bg-backgrund  nav-item" aria-labelledby="Dropdown_Products">
                    <a class="dropdown-item" href="list_items.html">
                        <img src="~/Content/Asset/Images/Logo/Coffe.ico" width="40px" height="40px" class="img-thumbnail icon_Categury">
                        قهوه
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="list_items.html">
                        <img src="~/Content/Asset/Images/Logo/Mug.ico" width="40px" height="40px" class="img-thumbnail icon_Categury">
                        ماگ
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="list_items.html">
                        <img src="~/Content/Asset/Images/Logo/CoffeMaker.ico" width="40px" height="40px"
                             class="img-thumbnail icon_Categury">
                        قهوه ساز
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="list_items.html">
                        <img src="~/Content/Asset/Images/Logo/Equipment.ico" width="40px" height="40px"
                             class="img-thumbnail icon_Categury">
                        تجهیزات
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="list_items.html">
                        <img src="~/Content/Asset/Images/Logo/Choclet.ico" width="40px" height="40px" class="img-thumbnail icon_Categury">
                        شکلات
                    </a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="Dropdown_Information" role="button" data-toggle="dropdown"
                   aria-haspopup="true" aria-expanded="false">
                    دانستنی ها
                </a>
                <div class="dropdown-menu dropdown-menu-custom Bg-backgrund dropdown-menu-left"
                     aria-labelledby="Dropdown_Information">
                    <a class="dropdown-item" href="list_information.html">اشنایی با انواع قهوه </a>
                    <a class="dropdown-item" href="list_information.html"> مقالات </a>
                </div>
            </li>
            <li class="nav-item">
                <a class="nav-link " href="Abut_Us.html" tabindex="-1" aria-disabled="true">درباره ما</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="shopping_Cart.html" tabindex="-1" aria-disabled="true">
                    <span class="m-1"></span><i class="fa fa-cart-arrow-down fa-lg"></i>
                </a>
            </li>
            <li class="nav-item">
                @Html.Partial("LoggedInUser")
            </li>
        </ul>
        <div class="input-group input-size">
            <input type="search " class="form-control rounded-test m-1" placeholder="برای جستجو تایپ کنید"
                   aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-Search m-1 ">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</nav>
