@model EShopCoffee.Models.DataLayer.Product_Property

@{
    ViewBag.Title = "DeleteProperty";
}

<h5 class="alert alert-danger m-4">آیا از حذف مطمن هستید ؟</h5>
<div>
    <hr />
    <table class="table">
        <tr>
            <th class="font-weight-bold Bg-backgrund text-light">
                @Html.LabelFor(model => model.Property_Title, "ویژگی")
            </th>
            <th class="font-weight-bold Bg-backgrund text-light">
                @Html.DisplayFor(model => model.Property_Title)
            </th>
        </tr>
    </table>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <button type="submit" value="Delete" class="btn btn-danger btn-block" title=" حذف ویژگی">
            <i class="fa fa-trash fa-2x text-light"></i>
        </button>
        <a href="@Url.Action("Index")" class="btn btn-info btn-block" title="بازگشت">
            <i class="fa fa-arrow-circle-left fa-2x text-light"></i>
        </a>
    }
</div>