@model IEnumerable<EShopCoffee.Models.DataLayer.Product_Property>

@{
    ViewBag.Title = "Index";
}
<h4 class="text-center font-weight-bold mt-4">ویژگی ها</h4>
<hr />
<p>
    <a href="@Url.Action("Create")" title="افزودن سرگروه جدید" class="btn font-weight-bold btn-success text-light w-25">
        <i class="fa fa-plus-circle fa-2x"></i>
    </a>
</p>
<table class="table">
    <tr>
        <th class="font-weight-bold Bg-backgrund text-light">ویژگی</th>
        <th class="font-weight-bold Bg-backgrund text-light"></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Property_Title</td>
            <td class="col-4">
                <a href="@Url.Action("Edit", new { id = item.Property_Id })" class="btn btn-sm btn-warning btn-block" title="ویرایش ویژگی">
                    <i class="fa fa-edit"></i>
                </a>
                <a href="@Url.Action("Delete", new { id = item.Property_Id })" class="btn btn-sm btn-danger btn-block" title="حذف ویژگی">
                    <i class="fa fa-trash"></i>
                </a>
            </td>
        </tr>
    }

</table>
