<nav id="Nav-Bar" class="navbar navbar-expand-lg navbar-light Bg-backgrund m-5">
   

    <a class="navbar-brand mr-5" href="#">
        <img src="~/Content/Asset/Images/Logo/Logo.ico" class="img-thumbnail" style="border-radius: 50%;  height:50px;"
             alt="Doppio" loading="lazy" />
        <small>Doppio</small>
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class=" navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/AdminHome">خانه</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/Product_Groups">دسته بندی</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/Product_Property">ویژگی ها</a>
            </li>
            <li class="nav-item active">
                <a class="nav-link" href="/Admin/Product_EShop">محصولات</a>
            </li>
        </ul>
        <div class="input-group input-size">
            <input type="search " class="form-control rounded-test m-1" placeholder="برای جستجو تایپ کنید"
                   aria-label="Search" aria-describedby="search-addon" />
            <button type="button" class="btn btn-Search m-1 ">
                <i class="fa fa-search"></i>
            </button>
        </div>
    </div>
</nav>
